@import '../../variables.styl'

.Button
  background $default-gradient
  border-radius 100px
  box-shadow $default-box-shadow
  color $default-text-color
  display block
  font-size 0.8em
  outline none
  overflow hidden
  padding 0.5em 0.8em
  position relative
  text-decoration none
  transform scale(1)
  transition all 50ms
  z-index 1

  &.hoverIn
    color #fff

  &:active
    box-shadow $secondary-box-shadow
    transform scale(0.95)

  &::before
    background $default-background-color
    border-radius 100px
    content ''
    height $original-size
    position absolute
    right 0.1em
    top 0.1em
    transform scale(1)
    transform-origin center right
    transition all 300ms ease-in-out
    width $original-size
    z-index -1

  &.hoverIn::before
    animation close 300ms forwards

  &.hoverOut::before
    animation open 300ms forwards

  @media (min-width 568px)
    padding 0.8em 1.2em

@keyframes close
  0%
    transform scale(1)
    width $original-size

  50%
    transform scale(1)
    width 33px

  100%
    transform scale(0)
    width 33px

@keyframes open
  0%
    transform scale(0)
    width 33px

  50%
    transform scale(1)
    width 33px

  100%
    transform scale(1)
    width $original-size
