@import '../../variables.styl'

.Topbar
  background $default-background-color
  box-shadow 0px -25px 25px 50px rgba(0, 0, 0, 0.1)
  display block
  font-weight normal
  padding 0
  position relative
  width 100%
