@import '../../variables.styl'

.Title
  background $default-gradient
  color #fff
  font-size 2em
  font-weight bold
  line-height 0.9em
  padding-bottom 0.3em
  -webkit-background-clip text
  -webkit-text-fill-color transparent

  strong
    font-weight bold
