
.Social__List {
  display: block;
  padding: 0;
  text-align: left;
}

.Social__ListItem {
  position: relative;
  z-index: 1;
  align-items: center;
  display: flex;
  list-style: none;
  padding: .5em 0 .5em 2.4em;
}

.Social__Bullet {
  color: #2b2eff;
  font-size: 2em;
  line-height: 1em;
  transform: translateY(6px);
}

.Social__List a {
  line-height: 1em;
  margin: 0;
  padding: .6em;
}

