@import '../../variables.styl'

.Home
  .Title
    font-size 1.6em
    font-weight normal

    strong
      font-weight bold

  .Home--TitleMyRole
    white-space nowrap

  .Home--Article
    padding 0 1em

    p
      font-family 'Roboto', sans-serif
      font-size 1em
      font-weight 400
      line-height 1.4rem
      text-align justify
      text-align-last center

  .Home--Links
    align-items center
    display flex
    flex-wrap wrap
    justify-content center
    margin 2em 0 0
    padding 0

    li
      list-style none
      margin 0 0.25em 0.5em

  .Home--BtMore
    background transparent
    border none
    color $default-text-color
    cursor pointer
    display block
    font-weight bold
    margin 0 auto
    text-align center
    width 106px

    .Home--BtMoreText
      display block
      white-space nowrap
