.Theme
  height 100vh
  overflow-x hidden
  overflow-y auto
  width 100vw

  .Topbar
    justify-self flex-end

.Theme--WrapperContent
  align-items center
  display flex
  flex-direction column
  justify-content center
  min-height calc(100% - 50px)

  .Theme--Content
    max-width 1024px
    padding 2rem 0
    text-align center

.Theme--Background
  background #F00
  bottom 100%
  box-shadow 0px 500px 500px -200px rgba(255, 255, 255, 0.1)
  content ''
  height 2000px
  left 50%
  margin-left -50%
  position absolute
  width 1000px
  z-index -1
