html, body {
  width: 100%;
  height: 100%;
}

body {
  align-items: center;
  display: flex;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  justify-content: center;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
    align-items: center;
    display: flex;
    justify-content: center;
    min-height: 100%;
    text-align: center;
}

.App--Title {
  font-size: 1.5em;
  font-weight: 200;
  line-height: .9em;
}

.App--Title strong {
  font-weight: 700;
}

.App--TitleMyRole {
  white-space: nowrap;
}

@media only screen and (max-width: 230px) {
  .App--TitleMyRole {
    font-size: .5em;
  }

  .App--TitlePonctuation {
    display: none
  }
}

.App-Links {
  display: flex;
  font-size: .8em;
  justify-content: center;
}

.App-Links {
  display: flex;
  justify-content: center;
}

.App-Links a {
  margin: 0 .5em;
  color: black;
}

.App-Links a:hover {
  color: #2b2eff;
  transition: all 100ms ease-in-out;
}
