@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&family=Roboto:ital,wght@0,400;0,700;1,400&display=swap')

html
body
  height 100%
  width 100%

body
  align-items center
  color rgba(0, 0, 0, 0.8)
  display flex
  font-family 'Poppins', sans-serif
  font-size 1em
  font-weight 600
  justify-content center
  letter-spacing 0.05em
  margin 0
  -moz-osx-font-smoothing grayscale
  -webkit-font-smoothing antialiased

.App
  align-items center
  display flex
  justify-content center
  max-width 1024px
  min-height 100%
  padding 2rem
  text-align center

.Loading
  animation spin 2s infinite
  font-size 2rem

@keyframes spin
  from
    transform rotate(0deg)

  to
    transform rotate(360deg)
